<div class="table-actions">
  <%= content %>

  <% if actions.include?(:edit) %>
    <%= action(:edit, text: edit_text, path: edit_path, **edit_options) %>
  <% end %>

  <% if actions.include?(:destroy) %>
    <%= action(:destroy, text: destroy_text, path: destroy_path, **destroy_options) %>
  <% end %>
</div>
